$headingFont: 'Spectral', serif;
$bodyFont: 'Karla', sans-serif;

// font weight
$regular: 400;
$bold: 700;

// font size
$fontSize:1rem;
$fontSize-sm:$fontSize * 0.75;
$fontSize-lg:$fontSize * 1.5;
$fontSize-xl:$fontSize * 1;
$fontSize-xxl:$fontSize * 3;



$smallText: 0.8rem;

$letterSpacing: 1px;
$lineHeight: 1.3px;
