@use './colors' as *;
@use './variables' as *;
@use './medias' as *;

@mixin grid($placeItems) {
  display: grid;
  place-items: $placeItems;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn($bg-color: #e2e2e2) {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: $padding $padding * 2;
  border-radius: $borderRadius;
  box-shadow: $shadow-1;
  background-color: $bg-color;
}

@mixin xs {
  @media (min-width: map-get($medias, 'xs')) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($medias, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($medias, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($medias, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($medias, 'xl')) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

.responsive-test {
  @include xs {
    color: red;
  }
  @include sm {
    color: blue;
  }
  @include md {
    color: green;
  }
  @include lg {
    color: purple;
  }
  @include xl {
    color: orange;
  }
  @include breakpoint(1400px) {
    color: pink;
  }
}
